.generalContainer2{
    display: flex;
    justify-content: center;


    color: white;
    font-family: Kanit;
}

.information1 img{
    margin-top: 300px;
    width: 100%;
}

.information1{
    width: 40%;
}

.information2{
    margin-top: 300px;
    margin-left: 30px;
    width: 50%;
}

.moreInformation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-left: 100px;
}

.contenedorImagen img{
    border-radius: 10px;
}

h2{
    text-align: center;
    margin: none;
}

p{
    margin-top: 0;
    text-align: justify;
}

.centrado{
    text-align: center;
}

.nombre2, .precio2{
    margin-top: 0;
}

/*Etiqueta naranja*/

.contenedorImagen {
    position: relative; /* Asegura que la posición de la etiqueta sea relativa a este contenedor */
    display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
  }
  
  .etiquetaNaranja2 {
    position: absolute;
    width: 70px;
    text-align: center;
    bottom: 4px; /* Coloca la etiqueta en la parte inferior */
    left: 0; /* Coloca la etiqueta en la parte izquierda */
    background-color: #FF5400; /* Color de fondo de la etiqueta */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    color: white; /* Color del texto */
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }

  .companias-container, .plataformas-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.compania-item, .plataformas-item {
    margin-bottom: 5px; /* Ajusta el valor según el espaciado deseado */
}

.estrellas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Añadir al carrito*/

.añadirAlCarritoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.addButton{
  background-color: #FF6205;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border-color: #FF6205;
  font-size: 13pt;
  cursor: pointer;
}

/*Añadir comentarios*/

.añadirComentario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comentarioFinal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comentarioAñadido{
    width: 90%;
    height: 200px;
    font-size: 11pt;
    background-color: #1D1D1D;
    border: 1px solid #1D1D1D;
    border-radius: 10px;
    color: white;
    font-family: Kanit;
    padding: 10px;
    resize: none; /* Evita que el usuario pueda redimensionar el área de texto */
  }

  .añadirAlCarrito{
    width: 100px;
    font-size: 11pt;
    background-color: #1D1D1D;
    border: 1px solid #1D1D1D;
    border-radius: 10px;
    color: white;
    font-family: Kanit;
    text-align: center;
    padding: 10px;
    resize: none; /* Evita que el usuario pueda redimensionar el área de texto */
    margin-right: 20px;
  }

.exito{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13pt;
    font-family: Kanit;
}

.paper-plane{
    margin-left: 20px;
    font-size: 30pt;
    cursor: pointer;
}

/*Pie de página*/

.footer{
    margin-top: 50px;
}

/* Animaciones al enviar los comentarios */
.añadirComentario.fadeOut {
  animation-name: fadeOut;
}

.añadirComentario.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animaciones y estilos del check verde y el círculo si el servidor envía un status 200 al enviar los comentarios */
@keyframes drawCheck {
  0% {
    stroke-dashoffset: 69;
    stroke-width: 0;
  }
  50% {
    stroke-width: 2;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawTick {
  0% {
    stroke-dashoffset: 24;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.exito3 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  font-family: Kanit;
  animation-name: drawError; /* Agregar esta línea */
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.exito3.fadeIn{
  animation-name: fadeIn;
}

.exito3.fadeOut{
  animation-name: fadeOut;
}

.exito3 svg circle {
  animation: drawCheck 1.5s ease-in-out forwards;
  stroke-dasharray: 69;
  stroke-dashoffset: 69;
}

.exito3 svg path,
.exito3 svg polyline {
  animation: drawTick 1.5s ease-in-out forwards;
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
}

@keyframes drawError {
  0% {
    stroke-dashoffset: 76;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawErrorCross {
  0% {
    stroke-dashoffset: 48;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.error3 svg circle {
  animation: drawError 1.5s ease-in-out forwards;
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  stroke: #FF0000; /* Color rojo */
}

.error3 svg path {
  animation: drawErrorCross 1.5s ease-in-out forwards;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke: #FFFFFF; /* Color blanco */
}

/* Mensaje de error */
.error3 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13pt;
  font-family: Kanit;
  animation-name: drawError; /* Agregar esta línea */
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.error3.fadeOut {
  animation-name: fadeOut;
}

.error3.fadeIn {
  animation-name: fadeIn;
}

/* Animación para las barras de la cruz del error */
@keyframes drawSlash1 {
  0% {
    stroke-dasharray: 0, 20; /* Inicia sin longitud */
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 20, 0; /* Termina con la longitud completa */
    stroke-dashoffset: 0;
  }
}

@keyframes drawSlash2 {
  0% {
    stroke-dasharray: 0, 20; /* Inicia sin longitud */
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 20, 0; /* Termina con la longitud completa */
    stroke-dashoffset: 0;
  }
}

/*Añadir a favoritos*/

.containerFavoritos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heartContainer {
  background-color: #FF5400;
  width: 70px;
  height: 60px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.corazon {
  width: 30px;
  height: 30px;
}

.mensajeAutenticacion {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

.corazon.filled {
  animation: fillHeart 0.5s ease forwards;
}

@keyframes fillHeart {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
