.cabeceraJuegos {
    position: relative;
    height: 1100px;
    background-color: #272727;
    font-family: Kanit;
  }
  
  .fondo-container {
    position: relative;
    margin-top: 210px;
  }

  .fondo-imagen{
    transition: opacity 0.5s ease;
    max-height: 1080px;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .botones-container {
    position: absolute;
    bottom: 10px; /* Ajusta la posición vertical */
    left: 0; /* Ajusta la posición horizontal */
    right: 0;
    text-align: center;
  }
  
  .boton {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .boton-activo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .boton-inactivo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #cccccc;
    margin: 0 5px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  /*Estilos para el contenedor general del body de la página de inicio*/

.generalBody{
  color: white;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 20px;
}

  /* Estilos del texto */
  .generalBody .tendencias{
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
    text-align: center;
    font-family: Kanit;
  }
  
  /* Estilo de la línea */
  .generalBody .tendencias::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    width: 0;
    height: 5px;
    background-color: white;
    transition: width 0.3s;
    transform: translateX(-50%);
  }
  
  /* Animación al pasar el ratón */
  .generalBody .tendencias:hover::after {
    width: 100%;
  }

.flecha{
  color: grey;
  font-size: 20pt;
}

.generalBody .tendencias:hover .flecha{
  color: white;
}

.carteleraJuegos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.miniCarteleras{
    width: 380px;
    height: 220px;
    flex-basis: calc(33.33% - 20px);
    margin-right: 20px;
    cursor: pointer;
    border-radius: 15px;
}

.juego{
  margin-bottom: 20px;
  font-family: Kanit;
}

.texto{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.precio{
  margin-top: 0;
  margin-right: 20px;
  font-size: 15pt;
  font-weight: 600;
}

.nombre{
  margin-top: 5px;
  font-weight: 600;
  font-size: 15pt;
}

/*Aquí pondremos el descuento encima de la foto*/

.contenedorImagen {
  position: relative; /* Asegura que la posición de la etiqueta sea relativa a este contenedor */
  display: inline-block; /* Para que el contenedor se ajuste al tamaño de la imagen */
}

.etiquetaNaranja {
  position: absolute;
  width: 45px;
  text-align: center;
  bottom: 4px; /* Coloca la etiqueta en la parte inferior */
  left: 0; /* Coloca la etiqueta en la parte izquierda */
  background-color: #FF5400; /* Color de fondo de la etiqueta */
  padding: 5px; /* Ajusta el relleno según sea necesario */
  color: white; /* Color del texto */
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

/*Comentarios de los juegos*/

.comentarios{
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.comentario{
  width: 300px;
  height: 200px;
  background-color: #323232;
  color: white;
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  animation: fadeInOut 5s linear infinite;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1;}
  40% { opacity: 1; }
  60% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.circulo{
  border-radius: 50%;
  border: 1px solid white;
  width: 45px;
  height: 45px;
  margin: 10px;
  color: white;
  cursor: pointer;
}

.user2{
  width: 30px;
  height: 30px;
  margin-left: 7px;
  margin-top: 5px;
}

.infoComentarios{
  display: flex;
}

.tituloJuego{
  margin-left: 20px;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.textoComentario{
  margin-top: 60px;
  text-align: center;
}

/* Estilo de la línea */
.tituloJuego::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 5px;
  background-color: white;
  transition: width 0.3s;
  transform: translateX(-50%);
}

/* Animación al pasar el ratón */
.tituloJuego:hover::after {
  width: 100%;
}
