.carritoContainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 200px;
    background-color: #1c1c1c;
    color: white;
    height: 90vh;
}

.cesta {
    flex: 2;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cestaVacia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cestaVacia h2 {
    margin-top: 10px;
    color: white;
}

.cestaVacia p {
    margin: 10px 0;
    color: #aaa;
}

.descubreJuegosBtn {
    background-color: #FF5400;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.resumen {
    flex: 1;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.resumen h2 {
    color: white;
    margin-bottom: 20px;
}

.resumenPrecios {
    margin-bottom: 20px;
    font-size: 14pt;
}

.resumenFila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.resumenFila span {
    color: white;
}

.total {
    font-weight: bold;
}

.proceedToCheckoutBtn {
    background-color: #FF5400;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 15pt;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

.juegoCarrito{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.juegoInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.imagenPequeña{
    width: 200px;
    height: 120px;
    border-radius: 10px;
    margin-right: 20px;
}

.carInfoHead{
    font-size: 15pt;
    font-weight: 900;
    margin: 10px;
    width: 100%;
    white-space: nowrap;
}

.carInfo{
    font-size: 13pt;
    font-weight: 700;
    margin: 10px;
    width: 100%;
    white-space: nowrap;
}

.carInfoColumn{
    width: 100%;
}

.select{
    width: 50px;
    background-color: #1C1C1C;
    color: white;
    font-size: 12pt;
    text-align: center;
}

.basura{
    margin-left: 20px;
    cursor: pointer;
}