html{
  height: 100vh;
}

body{
    background-color: #272727;
}

.carteleraJuegos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Kanit;
    min-height: 45.5vh;
}

.carteleraJuegos > p{
  font-size: 15pt;
  margin-bottom: 150px;
}

/*Pie de página*/

.footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
    color: white;
    height: 150px;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .miniLogo{
    margin-right: 10px;
    width: 120px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease;
  }
  
  .miniLogo:hover{
    box-shadow: 0 0 10px white;
  }
  
  .leftFooter a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 14pt;
    position: relative;
  }
    
  
    .leftFooter a::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.3s;
      transform: translateX(-50%);
    }
    
    .leftFooter a:hover::after {
      width: 100%;
    }
  
  .rightFooter{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .rightFooter h2{
    text-decoration: none;
    position: relative;
  }
    
    .rightFooter h2::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -10px;
      width: 0;
      height: 4px;
      background-color: white;
      transition: width 0.3s;
      transform: translateX(-50%);
    }
    
    .rightFooter h2:hover::after {
      width: 100%;
    }

    .carteleraJuegos{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-top: 20px;
    }

    .desplegables{
      margin-top: 220px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .generalBody{
      margin-top: 60px;
    }

    .miniCartelera{
      width: 380px;
      height: 220px;
    }

    .nombre, .precio{
      color: white;
      font-family: Kanit;
    }

    select:not(:first-child){
      margin-left: 20px;
    }

/* Estilo para el selector */
.desplegables select {
  background-color: #1D1D1D;
  color: white;
  font-size: 12pt;
  width: 250px;
  height: 50px;
  border-radius: 5px;
  padding-left: 5px;
  box-sizing: border-box;
  font-family: Kanit;
}

.desplegables select .opciones:hover{
  background-color: #FF5400;
}

.custom-select {
  position: relative;
  display: inline-block;
}

.opcion {
  padding: 5px;
  cursor: pointer;
}

.opcion:hover, .opcion.hover {
  background-color: #FF5400;
}

.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputNames h3{
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  margin-bottom: 20px;
}

.inputNames h3::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: white;
  transition: width 0.3s;
  transform: translateX(-50%);
}
  
.inputNames h3:hover::after {
  width: 100%;
}

/*Icono de la basura*/

.trash{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding-top: 50px;
}

.trash img{
  transition: transform 0.3s ease;
  cursor: pointer;
}

.trash img:hover{
  transform: scale(1.2);
}

.trash p{
  margin-top: 10px;
  color: #f93729;
  font-size: 12pt;
  cursor: pointer;
}

/*Filtro de precio de los juegos*/

.precio {
  margin-top: 5px;
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: center; /* Alinear horizontalmente */
  font-weight: none;
  height: 30px;
}

.precio p {
  margin: 0 10px; /* Espacio entre el texto y los input */
}

.precio input {
  width: 50px; /* Ajusta el ancho de los input según tus necesidades */
  text-align: center;
  background-color: #1D1D1D;
  color: white;
  border-radius: 5px;
  padding: 5px; /* Ajusta el padding según tus necesidades */
  font-family: Kanit;
}

/*Eliminar las flechas de los input (sumar y restar números)*/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: none;
}

/*Animación al aplicar un filtro*/

@keyframes fade-in {
  0%{
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 0.8s ease;
}