video{
  height: 100vh;
}

.videoDerecha{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
}

.cabeceraRegister{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

/* Estilos del texto */
.cabeceraRegister h1 {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  font-family: Kanit;
  font-size: 30pt;
  margin-bottom: 22px;
}

/* Estilo de la línea */
.cabeceraRegister h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 0;
  height: 5px;
  background-color: white;
  transition: width 0.3s;
  transform: translateX(-50%);
}

/* Animación al pasar el ratón */
.cabeceraRegister h1:hover::after {
  width: 100%;
}

.cabeceraRegister img{
  transition: transform 1s ease;
  margin: 10px;
}

.cabeceraRegister img:hover{
  animation: moverIcono 1s ease;
  box-shadow: 0 0 10px white;
  border-radius: 60%;
}

@keyframes moverIcono{
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotateX(360deg);
  }
}

.muted, .no-muted{
  color: white;
  font-size: 22pt;
  position: absolute;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.formularioRegistro{
  width: 500px;
  height: 600px;
  background-color: white;
  margin-top: 25vh;
  margin-right: 250px;
  border-radius: 15px;
  font-family: Kanit;
}

.formularioLogin{
  width: 500px;
  height: 450px;
  background-color: white;
  margin-top: 0;
  margin-right: 250px;
  border-radius: 15px;
  font-family: Kanit;
}

.updateForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
  margin-top: 100px;
}

.no-space{
  margin-bottom: 0;
}

.formularioUpdate{
  width: 500px;
  height: 650px;
  background-color: white;
  margin-right: 250px;
  border-radius: 15px;
  font-family: Kanit;
}

.logoutButtonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 0;
}

.logoutButton{
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

.registroForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
}

.loginForm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
}

.muted, .no-muted{
  color: white;
  font-size: 22pt;
  position: absolute;
  top: 10px; /* Alineado con la parte superior */
  right: 10px; /* Alineado con la derecha */
  cursor: pointer;
}


.loginForm2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 400px;
}

label{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 14pt;
}

.campo{
  text-align: center;
  border-radius: 15px;
  padding-left: 10px;
  height: 20px;
  border: 2px solid black;
}

h1{
  text-align: center;
  font-size: 30pt;
  text-decoration: underline solid black;
}

.submitRegister{
  background-color: black;
  color: white;
  margin-top: 20px;
  text-align: center;
  width: 70px;
  cursor: pointer;
}

.submitLarge{
  background-color: black;
  color: white;
  margin-top: 20px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

.submitLogin{
  background-color: black;
  color: white;
  margin-top: 20px;
  text-align: center;
  width: 70px;
  margin-top: 50px;
  cursor: pointer;
}

p{
  margin-top: 60px;
  text-align: center;
}

/*Animaciones y estilos para las respuestas de los formularios*/

@keyframes drawCheck {
  0% {
    stroke-dashoffset: 69;
    stroke-width: 0;
  }
  50% {
    stroke-width: 2;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawTick {
  0% {
    stroke-dashoffset: 24;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.exitoFormulario, .errorFormulario {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.exitoFormulario {
  background-color: #e6ffe6;
  border: 2px solid #00ff00;
}

.errorFormulario {
  background-color: #ffe6e6;
  border: 2px solid #ff0000;
}

.exitoFormulario svg, .error svg {
  margin-bottom: 10px;
}

.fadeIn {
  animation: fadeIn 1s forwards;
}

.fadeOut {
  animation: fadeOut 1s forwards;
}

@keyframes drawError {
  0% {
    stroke-dashoffset: 76;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes drawErrorCross {
  0% {
    stroke-dashoffset: 48;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/* Animación para las barras de la cruz del error */
@keyframes drawSlash1 {
  0% {
    stroke-dasharray: 0, 20; /* Inicia sin longitud */
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 20, 0; /* Termina con la longitud completa */
    stroke-dashoffset: 0;
  }
}

@keyframes drawSlash2 {
  0% {
    stroke-dasharray: 0, 20; /* Inicia sin longitud */
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 20, 0; /* Termina con la longitud completa */
    stroke-dashoffset: 0;
  }
}

.errorFormulario svg circle {
  animation: drawError 1.5s ease-in-out forwards;
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  stroke: #FF0000;
}

.exitoFormulario svg circle {
  animation: drawError 1.5s ease-in-out forwards;
  stroke-dasharray: 76;
  stroke-dashoffset: 76;
  stroke: #00ff00;
}

.exitoFormulario svg path,
.exitoFormulario svg polyline {
  animation: drawTick 1.5s ease-in-out forwards;
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
}

/*Cambiar el color de los links a azul*/

.cambiarAzul{
  color: blue;
}

.message{
  margin-top: 60px;
  text-align: center;
}